body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    color: #000000;
    text-align: center;
    backdrop-filter: blur(10px); /* Apply blur for frosted glass effect */
}

header h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f3eff0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
}

a {
    color: #007bff;
}

.centered-image {
    display: block;
    margin: auto;
}

#projects h2 {
    cursor: pointer;
}

#internships h2 {
    cursor: pointer;
}

#extraCurricular h2 {
    cursor: pointer;
}
